{
    "env": {
        "jquery": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "ecmaFeatures": {
       "jsx": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "max-len": [1, 7, 2, { "ignoreComments": true }],
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "indent": ["error", "tab"],
        "comma-dangle": ["error", "never"],
        "no-console": ["error", { "allow": ["log", "warn", "error"] }],
        "no-param-reassign": ["error", { "props": false }]
    }
}