.tab_title_wrap{
	width: 300px;
	height: 40px;
	position:relative;
}
.tab_title{
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 38px;
	color: #000;
	display: inline-block;
}
.active{
	color: #1890ff;
}
.select_item{
	background-color: #1890ff;
	width:100px;
	height:2px;
	position: absolute;
	bottom:2px;
	transition: left .3s ease;
}
.tab_item_wrap{
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.tab_item_wrap1{
	width: 900px;
	height: 300px;
	display:flex;
	transition: margin-left .3s ease;
}
.tab_item{
	width: 300px;
	height: 300px;
	text-align: center;
	line-height: 300px;
	color: #FFF;
	flex: 1 0 auto;
}
.tab_item:nth-of-type(1){
	color: #FF660E;
}
.tab_item:nth-of-type(2){
	color: #FF0E52;
}
.tab_item:nth-of-type(3){
	color: #07D739;
}
